/* styling command palette ctrl+shift+p or ctrl+p */
.quick-input-widget {
  z-index: 100;
  border: solid 2px #ffffff10 !important;
  border-radius: 6px !important;
  box-shadow: none !important;
}

/* blur background style for new div behind command palette created with javascript */
#command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000010;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 99;
}

/* parent element of .letterpress  */
.editor-group-watermark {
  max-width: none !important;
}

/* replacing vscode icon from no active tab background with html 5 looking svg art along with other symbols */
.letterpress {
  background-image: url("/home/feline/.config/Code/custom/art.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
  width: 60% !important;
  mask-image: url("/home/feline/.config/Code/custom/mask.png");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  filter: opacity(0.5) !important;
  max-width: none !important;
}

/* hiding action buttons on sidebar next to activity bar */
.monaco-workbench .part.sidebar .title-actions .actions-container {
  width: auto;
  max-width: 30px;
  height: 30px;
  float: right;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  &:hover {
    max-width: 200px;
    padding-left: 5px;
    z-index: 1000;
    box-shadow: inset 0 0 0 1px #ffffff10;
  }
}

/* styling color pickers little icon  */
.vs-dark .colorpicker-color-decoration {
  border: solid 0.1em #ffffff20;
  border-radius: 25%;
}

/* styling pop-up that shows up when mouse is hovered over different part of code  */
.monaco-editor .monaco-hover {
  border: solid 2px #ffffff20;
  border-radius: 10px;
}

/* styling sidebar title  */
.monaco-workbench .part.sidebar > .title > .title-label h2 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: small;
}

/* styling app icon titlebar */
.titlebar-left > .window-appicon {
  filter: hue-rotate(349deg) brightness(1.7) grayscale(0.7);
}
